.buttons{
  display: flex;
}
.button{
  background-color: #d21e1e;
  border-radius: 5px;
  height: 25px;
  padding: 5px;
  margin-bottom: 12px;
  color: #ffffff;
}
.button:hover {
  text-decoration: underline;
}

#myInput {
  font-size: 12px; /* Increase font-size */
  padding: 5px; /* Add some padding */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
}

 th, td {
  text-align: center; /* Left-align text */
  padding: 5px; /* Add padding */
  border: 1px solid #656565;
}


th {
  font-size: 16px;
  color: #d21e1e;
  font-weight: 700;
}
th:hover {
  text-decoration: underline;
}

td {
  font-size: 12px;
}

tr{
  background-color: #ffffff;
}

tr.table-header{
  background-color: #dadada;
}

tr:hover {
  background-color: rgba(253, 172, 172, .32);
}

.hidden{
  display: none;
}
