*{
  margin: auto;
}

body {
  background-color: #dcddde;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #656565;
  margin-bottom: 10px;
}

h4{
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

h5 {
  font-size: 14px;
  font-weight: 500;
}

p{
  text-indent: 30px;
  margin-bottom: 10px;
  font-family: myriad-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

em {
  font-style: normal;
  font-weight: 700;
}

a{
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.buttons {
  position: relative;
}
.buttons h3 {
  color: #656565;
  margin: 20px;
  font-weight: 700;
  font-size: 15px;
}
.button-modal{
  visibility: hidden;
  background-color: rgba(200, 200, 200, 1);
  color: #000000;
  padding: 10px;
  position: absolute;
  top: 20px;
  z-index: 3
}

.artist-statement{
  width: 1100px;
  margin-top: 50px;
}

.quotes {
  width: 1100px;
  margin-top: 50px;
}
.quotes h4{
  margin-bottom: 40px;
}
.individual-quote:nth-child(odd){
  color: #8c8c8c;
}
.individual-quote:nth-child(even){
  color: #545454;
}
