.circle{
  background-color: #000000;
  border-radius:50%;
  position: relative;
}
.circle:hover{
  background-color: grey;
}

h3:hover {
  text-decoration: underline;
}

.reveal-modal{
  visibility: hidden;
  position: absolute;
  background-color: rgba(101, 101, 101, .8);
  color: #ffffff;
  width: 220px;
  height: 110px;
  text-align: center;
  padding: 10px;
  z-index: 1;
}
.visible{
  visibility: visible;
}
.actual {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.actual-alabama {
  width: 71.65px;
  height: 71.65px;
}
.reveal-actual-alabama {
  left: 35px;
  top: 35px;
}

.actual-georgia{
  width: 44.37px;
  height: 44.37px;
  }
.reveal-actual-georgia {
  left: 22px;
  top: 22px;
  }

.actual-texas{
  width: 32.19px;
  height: 32.19px;
}
.reveal-actual-texas {
  left: 16px;
  top: 16px;
  }

.actual-auburn{
  width: 31.61px;
  height: 31.61px;
}
.reveal-actual-auburn{
  left: 15.5px;
  top: 15.5px;
}

.actual-texasam{
  width: 31.56px;
  height: 31.56px;
}
.reveal-actual-texasam{
  left: 15.5px;
  top: 15.5px;
}

.actual-lsu{
  width: 29.2px;
  height: 29.2px;
}
.reveal-actual-lsu{
  left: 14.5px;
  top: 14.5px;
}

.actual-oklahoma{
  width: 27.38px;
  height: 27.38px;
}
.reveal-actual-oklahoma{
  left: 13.5px;
  top: 13.5px;
}

.actual-clemson{
  width: 27.22px;
  height: 27.22px;
}
.reveal-actual-clemson{
  left: 13.5px;
  top: 13.5px;
}

.actual-oregon{
  width: 25.91px;
  height: 25.91px;
}
.reveal-actual-oregon{
  left: 12.5px;
  top: 12.5px;
}

.actual-florida{
  width: 25.88px;
  height: 25.88px;
}
.reval-actual-florida{
  left: 12.5px;
  top: 12.5px;
}

.actual-michigan{
  width: 25.73px;
  height: 25.73px;
}
.reveal-actual-michigan{
  left: 12.5px;
  top: 12.5px;
}

.actual-ohiostate{
  width: 25.67px;
  height: 25.67px;
}
.reveal-actual-ohiostate{
  left: 12.5px;
  top: 12.5px;
}

.actual-tennessee{
  width: 25.65px;
  height: 25.65px;
}
.reveal-actual-tennessee{
  left: 12.5px;
  top: 12.5px;
}

.actual-floridastate{
  width: 20.59px;
  height: 20.59px;
}
.reveal-actual-floridastate{
  right: 10px;
  top: 10px;
}

.actual-pennstate{
  width: 19.77px;
  height: 19.77px;
}
.reveal-actual-pennstate{
  right: 9.5px;
  top: 9.5px;
}

.actual-notredame{
  width: 16.4px;
  height: 16.4px;
}
.reveal-actual-notredame{
  right: 8px;
  top: 8px;
}

.actual-washington{
  width: 13.29px;
  height: 13.29px;
}
.reveal-actual-washington{
  right: 6.5px;
  top: 6.5px;
}

.actual-southcarolina{
  width: 12.29px;
  height: 12.29px;
}
.reveal-actual-southcarolina{
  right: 6px;
  top: 6px;
}

.actual-usc{
  width: 12.08px;
  height: 12.08px;
}
.reveal-actual-usc{
  right: 6px;
  top: 6px;
}

.actual-stanford{
  width: 11.76px;
  height: 11.76px;
}
.reveal-actual-stanford{
  right: 5.5px;
  top: 5.5px;
}

.actual-arizonastate{
  width: 9.21px;
  height: 9.21px;
}
.reveal-actual-arizonastate{
  right: 4.5px;
  top: 4.5px;
}

.actual-arkansas{
  width: 8.44px;
  height: 8.44px;
}
.reveal-actual-arkansas{
  right: 4px;
  top: 4px;
}

.actual-illinois{
  width: 8.25px;
  height: 8.25px;
}
.reveal-actual-illinois{
  right: 4px;
  top: 4px;
}

.actual-wisconsin{
  width: 8.15px;
  height: 8.15px;
}
.reveal-actual-wisconsin{
  right: 4px;
  top: 4px;
}

.actual-michiganstate{
  width: 7.57px;
  height: 7.57px;
}
.reveal-actual-michiganstate{
  right: 3.5px;
  top: 3.5px;
}

.actual-olemiss{
  width: 7.43px;
  height: 7.43px;
}
.reveal-actual-olemiss{
  right: 3.5px;
  top: 3.5px;
}

.actual-miami{
  width: 5.7px;
  height: 5.7px;
}
.reveal-actual-miami{
  right: 2.5px;
  top: 2.5px;
}

.actual-purdue{
  width: 4.69px;
  height: 4.69px;
}
.reveal-actual-purdue{
  right: 2px;
  top: 2px;
}

.actual-nebraska{
  width: 4.19px;
  height: 4.19px;
}
.reveal-actual-nebraska{
  right: 2px;
  top: 2px;
}

.actual-unc{
  width: 3.99px;
  height: 3.99px;
}
.reveal-actual-unc{
  right: 2px;
  top: 2px;
}

.actual-ncstate{
  width: 3.97px;
  height: 3.97px;
}
.reveal-actual-ncstate{
  right: 2px;
  top: 2px;
}

.actual-oklahomastate{
  width: 3.37px;
  height: 3.37px;
}
.reveal-actual-oklahomastate{
  right: 1.5px;
  top: 1.5px;
}

.actual-baylor{
  width: 3.34px;
  height: 3.34px;
}
.reveal-actual-baylor{
  right: 1.5px;
  top: 1.5px;
}

.actual-virginia{
  width: 3.25px;
  height: 3.25px;
}
.reveal-actual-virginia{
  right: 1.5px;
  top: 1.5px;
}

.actual-maryland{
  width: 3.08px;
  height: 3.08px;
}
.reveal-actual-maryland{
  right: 1.5px;
  top: 1.5px;
}

.actual-virginiatech{
  width: 2.89px;
  height: 2.89px;
}
.reveal-actual-virginiatech{
  right: 1.5px;
  top: 1.5px;
}

.actual-byu{
  width: 2.76px;
  height: 2.76px;
}
.reveal-actual-byu{
  right: 1.5px;
  top: 1.5px;
}

.actual-ucla{
  width: 2.4px;
  height: 2.4px;
}
.reveal-actual-ucla{
  right: 1.5px;
  top: 1.5px;
}

.actual-louisville{
  width: 2.06px;
  height: 2.06px;
}
.actual-louisville{
  right: 1px;
  top: 1px;
}

.actual-indiana{
  width: 1.94px;
  height: 1.94px;
}
.reveal-actual-indiana{
  right: 1px;
  top: 1px;
}

.actual-missouri{
  width: 1.83px;
  height: 1.83px;
}
.reveal-actual-missouri{
  right: 1px;
  top: 1px;
}

.actual-kansasstate{
  width: 1.51px;
  height: 1.51px;
}
.reveal-actual-kansasstate{
  right: .75px;
  top: .75px;
}

.actual-arizona{
  width: 1.44px;
  height: 1.44px;
}
.reveal-actual-arizona{
  right: .75px;
  top: .75px;
}

.actual-iowa{
  width: 1.3px;
  height: 1.3px;
}
.reveal-actual-iowa{
  right: .75px;
  top: .75px;
}

.actual-bc{
  width: 1.17px;
  height: 1.17px;
}
.reveal-actual-bc{
  right: .5px;
  top: .5px;
}

.actual-northwestern{
  width: 1.04px;
  height: 1.04px;
}
.reveal-actual-northwestern{
  right: .5px;
  top: .5px;
}

.actual-boisestate{
  width: 1px;
  height: 1px;
}
.reveal-actual-boisestate{
  right: 6px;
  top: 6px;
}

.actual-westvirginia{
  width: 1px;
  height: 1px;
}
.reveal-actual-westvirginia{
  right: .5px;
  top: .5px;
}

.actual-minnesota{
  width: 1px;
  height: 1px;
}
.reveal-actual-minnesota{
  right: .5px;
  top: .5px;
}

.actual-kentucky{
  width: 1px;
  height: 1px;
}
.reveal-actual-kentucky{
  right: .5px;
  top: .5px;
}





.starter {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.starter-clemson{
  width: 90.37px;
  height: 90.37px;
}
.reveal-starter-clemson{
  left: 45px;
  top: 45px;
}

.starter-alabama{
  width: 84.16px;
  height: 84.16px;
}
.reveal-starter-alabama{
  left: 42px;
  top: 42px;
}

.starter-ohiostate{
  width: 76.34px;
  height: 76.34px;
}
.reveal-starter-ohiostate{
  left: 38px;
  top: 38px;
}

.starter-oklahoma{
  width: 69.1px;
  height: 69.1px;
}
.reveal-starter-oklahoma{
  left: 35px;
  top: 35px;
}

.starter-notredame{
  width: 60.8px;
  height: 60.8px;
}
.reveal-starter-notredame{
  left: 30px;
  top: 30px;
}

.starter-lsu{
  width: 52.63px;
  height: 52.63px;
}
.reveal-starter-lsu{
  left: 26px;
  top: 26px;
}

.starter-florida{
  width: 46.21px;
  height: 46.21px;
}
.reveal-starter-florida{
  left: 23px;
  top: 23px;
}

.starter-georgia{
  width: 37.96px;
  height: 37.96px;
}
.reveal-starter-georgia{
  right: 18px;
  top: 18px;
}

.starter-texas{
  width: 30.72px;
  height: 30.72px;
}
.reveal-starter-texas{
  right: 15px;
  top: 15px;
}

.starter-washingtonstate{
  width: 24.06px;
  height: 24.06px;
}
.reveal-starter-washingtonstate{
  right: 12px;
  top: 12px;
}

.starter-ucf{
  width: 17.2px;
  height: 17.2px;
}
.reveal-starter-ucf{
  right: 8.5px;
  top: 8.5px;
}

.starter-kentucky{
  width: 12.96px;
  height: 12.96px;
}
.reveal-starter-kentucky{
  right: 6.5px;
  top: 6.5px;
}

.starter-washington{
  width: 9.24px;
  height: 9.24px;
}
.reveal-starter-washington{
  right: 4.5px;
  top: 4.5px;
}

.starter-michigan{
  width: 6.82px;
  height: 6.82px;
}
.reveal-starter-michigan{
  right: 3px;
  top: 3px;
}

.starter-syracuse{
  width: 5.49px;
  height: 5.49px;
}
.reveal-starter-syracuse{
  right: 2.5px;
  top: 2.5px;
}

.starter-texasam{
  width: 3.9px;
  height: 3.9px;
}
.reveal-starter-texasam{
  right: 2px;
  top: 2px;
}

.starter-pennstate{
  width: 2.95px;
  height: 2.95px;
}
.reveal-starter-texasam{
  right: 1.5px;
  top: 1.5px;
}

.starter-fresnostate{
  width: 2.59px;
  height: 2.59px;
}
.reveal-starter-fresnostate{
  right: 1.25px;
  top: 1.25px;
}

.starter-army{
  width: 2.4px;
  height: 2.4px;
}
.reveal-starter-army{
  right: 1px;
  top: 1px;
}

.starter-westvirginia{
  width: 2.27px;
  height: 2.27px;
}
.reveal-starter-westvirginia{
  right: 1px;
  top: 1px;
}

.starter-northwestern{
  width: 2.23px;
  height: 2.23px;
}
.reveal-starter-northwestern{
  right: 1px;
  top: 1px;
}

.starter-utahstate{
  width: 2.1px;
  height: 2.1px;
}
.reveal-starter-utahstate{
  right: 1px;
  top: 1px;
}

.starter-boisestate{
  width: 1.96px;
  height: 1.96px;
}
.reveal-starter-boisestate{
  right: 1px;
  top: 1px;
}

.starter-cincinatti{
  width: 1.5px;
  height: 1.5px;
}
.reveal-starter-cincinatti{
  right: 1px;
  top: 1px;
}

.starter-iowa{
  width: 1.17px;
  height: 1.17px;
}
.reveal-starter-iowa{
  right: .5px;
  top: .5px;
}

.starter-appalachianstate {
  width: 1px;
  height: 1px;
}
.reveal-starter-appalachianstate{
  right: .5px;
  top: .5px;
}

.starter-mississippistate{
  width: 1px;
  height: 1px;
}
.reveal-starter-mississippistate{
  right: .5px;
  top: .5px;
}

.starter-utah{
  width: 1px;
  height: 1px;
}
.reveal-starter-utah{
  right: .5px;
  top: .5px
}

.starter-uab{
  width: 1px;
  height: 1px:
}
.reveal-starter-uab{
  right: .5px;
  top: .5px;
}

.starter-iowastate{
  width: 1px;
  height: 1px;
}
.reveal-starter-iowastate{
  right: .5px;
  top: .5px;
}




.scholarship {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.scholarship-clemson{
  width: 95.7px;
  height: 95.7px;
}
.reveal-scholarship-clemson{
  left: 47.5px;
  top: 47.5px;
}

.scholarship-clemson{
  width: 95.7px;
  height: 95.7px;
}
.reveal-scholarship-clemson{
  left: 47.5px;
  top: 47.5px;
}

.scholarship-florida{
  width: 83.5px;
  height: 83.5px;
}
.reveal-scholarship-florida{
  left: 41.5px;
  top: 41.5px;
}

.scholarship-texas{
  width: 69px;
  height: 69px;
}
.reveal-scholarship-texas{
  left: 34.5px;
  top: 34.5px;
}

.scholarship-georgia{
  width: 66px;
  height: 66px;
}
.reveal-scholarship-georgia{
  left: 33px;
  top: 33px;
}

.scholarship-syracuse{
  width: 52.9px;
  height: 52.9px;
}
.reveal-scholarship-syracuse{
  left: 26.5px;
  top: 26.5px;
}

.scholarship-oklahoma{
  width: 48.8px;
  height: 48.8px;
}
.reveal-scholarship-oklahoma{
  left: 24px;
  top: 24px;
}

.scholarship-lsu{
  width: 36px;
  height: 36px;
}
.reveal-scholarship-lsu{
  right: 18px;
  top: 18px;
}

.scholarship-pennstate{
  width: 34.6px;
  height: 34.6px;
}
.reveal-scholarship-pennstate{
  right: 17px;
  top: 17px;
}

.scholarship-texasam{
  width: 34px;
  height: 34px;
}
.reveal-scholarship-texasam{
  right: 17px;
  top: 17px;
}

.scholarship-alabama{
  width: 31.5px;
  height: 31.5px;
}
.reveal-scholarship-alabama{
  right: 16px;
  top: 16px;
}

.scholarship-northwestern{
  width: 23.8px;
  height: 23.8px;
}
.reveal-scholarship-northwestern{
  right: 12px;
  top: 12px;
}

.scholarship-washington{
  width: 20.6px;
  height: 20.6px;
}
.reveal-scholarship-washington{
  right: 10px;
  top: 10px;
}

.scholarship-ucf{
  width: 19.3px;
  height: 19.3px;
}
.reveal-scholarship-ucf{
  right: 10px;
  top: 10px;
}

.scholarship-boisestate{
  width: 14.3px;
  height: 14.3px;
}
.reveal-scholarship-boisestate{
  right: 7px;
  top: 7px;
}

.scholarship-utahstate{
  width: 8px;
  height: 8px;
}
.reveal-scholarship-utahstate{
  right: 4px;
  top: 4px;
}

.scholarship-ohiostate{
  width: 7.7px;
  height: 7.7px;
}
.reveal-scholarship-ohiostate{
  right: 3.5px;
  top: 3.5px;
}

.scholarship-cincinatti{
  width: 3.6px;
  height: 3.6px;
}
.reveal-scholarship-cincinatti{
  right: 2px;
  top: 2px;
}

.scholarship-iowa{
  width: 1px;
  height: 1px;
}
.reveal-scholarship-iowa{
  right: .5px;
  top: .5px;
}

.money{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.money-oklahoma{
  width: 51.5px;
  height: 51.5px;
}
.reveal-money-oklahoma{
  left: 25.5px;
  top: 25.5px;
}

.money-clemson{
  width: 50.6px;
  height: 50.6px;
}
.reveal-money-clemson{
  left: 25px;
  top: 25px;
}

.money-notredame{
  width: 50.5px;
  height: 50.5px;
}
.reveal-money-notredame{
  left: 25px;
  top: 25px;
}

.money-lsu{
  width: 49.5px;
  height: 49.5px;
}
.reveal-money-lsu{
  left: 25px;
  top: 25px;
}

.money-alabama{
  width: 48.7px;
  height: 48.7px;
}
.reveal-money-alabama{
  left: 24px;
  top: 24px;
}

.money-ohiostate{
  width: 48.6px;
  height: 48.6px;
}
.reveal-money-ohiostate{
  left: 24px;
  top: 24px;
}

.money-florida{
  width: 48.2px;
  height: 48.2px;
}
.reveal-money-florida{
  left: 24px;
  top: 24px;
}

.money-georgia{
  width: 45.1px;
  height: 45.1px;
}
.reveal-money-georgia{
  left: 22.5px;
  top: 22.5px;
}

.money-texas{
  width: 44.3px;
  height: 44.3px;
}
.reveal-money-texas{
  left: 22px;
  top: 22px;
}

.money-washingtonstate{
  width: 43.2px;
  height: 43.2px;
}
.reveal-money-washingtonstate{
  right: 21.5px;
  top: 21.5px;
}

.money-ucf{
  width: 40.5px;
  height: 40.5px;
}
.reveal-money-ucf{
  right: 20px;
  top: 20px;
}

.money-kentucky{
  width: 37.8px;
  height: 37.8px;
}
.reveal-money-kentucky{
  right: 18.5px;
  top: 18.5px;
}

.money-washington{
  width: 17px;
  height: 17px;
}
.reveal-money-washington{
  right: 8.5px;
  top: 8.5px;
}

.money-michigan{
  width: 11.8px;
  height: 11.8px;
}
.reveal-money-michigan{
  right: 5.5px;
  top: 5.5px;
}

.money-syracuse{
  width: 6.6px;
  height: 6.6px;
}
.reveal-money-syracuse{
  right: 3px;
  top: 3px;
}

.money-texasam{
  width: 4.1px;
  height: 4.1px;
}
.reveal-money-texasam{
  right: 2px;
  top: 2px;
}

.money-pennstate{
  width: 4.1px;
  height: 4.1px;
}
.reveal-money-pennstate{
  right: 2px;
  top: 2px;
}

.money-northwestern{
  width: 4.1px;
  height: 4.1px;
}
.reveal-money-northwestern{
  right: 2px;
  top: 2px;
}

.money-boisestate{
  width: 4.1px;
  height: 4.1px;
}
.reveal-money-boisestate{
  right: 2px;
  top: 2px;
}

.money-iowa{
  width: 4px;
  height: 4px;
}
.reveal-money-iowa{
  right: 2px;
  top: 2px;
}

.money-stanford{
  width: 4px;
  height: 4px;
}
.reveal-money-stanford{
  right: 2px;
  top: 2px;
}

.money-mississippistate{
  width: 4px;
  height: 4px;
}
.reveal-money-mississippistate{
  right: 2px;
  top: 2px;
}

.money-utah{
  width: 4px;
  height: 4px;
}
.reveal-money-utah{
  right: 2px;
  top: 2px;
}

.money-tennessee{
  width: 4px;
  height: 4px;
}
.reveal-money-tennessee{
  right: 2px;
  top: 2px;
}

.money-auburn{
  width: 4px;
  height: 4px;
}
.reveal-money-auburn{
  right: 2px;
  top: 2px;
}

.money-wisconsin{
  width: 4px;
  height: 4px;
}
.reveal-money-wisconsin{
  right: 2px;
  top: 2px;
}

.money-michiganstate{
  width: 3.9px;
  height: 3.9px;
}
.reveal-money-michiganstate{
  right: 2px;
  top: 2px;
}

.money-floridastate{
  width: 3.9px;
  height: 3.9px;
}
.reveal-money-floridastate{
  right: 2px;
  top: 2px;
}

.money-oregon{
  width: 3.9px;
  height: 3.9px;
}
.reveal-money-oregon{
  right: 2px;
  top: 2px;
}


.revenue{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.revenue-ohiostate{
  width: 71.3px;
  height: 71.3px;
}
.reveal-revenue-ohiostate{
  left: 35.5px;
  top: 35.5px;
}

.revenue-floridastate{
  width: 64.9px;
  height: 64.9px;
}
.reveal-revenue-floridastate{
  left: 32px;
  top: 32px;
}

.revenue-lsu{
  width: 59.2px;
  height: 59.2px;
}
.reveal-revenue-lsu{
  left: 29.5px;
  top: 29.5px;
}

.revenue-florida{
  width: 53.4px;
  height: 53.4px;
}
.reveal-revenue-florida{
  left: 26.5px;
  top: 26.5px;
}

.revenue-pennstate{
  width: 47.3px;
  height: 47.3px;
}
.reveal-revenue-pennstate{
  left: 23.5px;
  top: 23.5px;
}

.revenue-auburn{
  width: 43.2px;
  height: 43.2px;
}
.reveal-revenue-auburn{
  left: 21.5px;
  top: 21.5px;
}

.revenue-washington{
  width: 41px;
  height: 41px;
}
.reveal-revenue-washington{
  left: 20.5px;
  top: 20.5px;
}

.revenue-wisconsin{
  width: 35.1px;
  height: 35.1px;
}
.reveal-revenue-wisconsin{
  left: 17.5px;
  top: 17.5px;
}

.revenue-georgia{
  width: 30.6px;
  height: 30.6px;
}
.reveal-revenue-georgia{
  left: 15px;
  top: 15px;
}

.revenue-arkansas{
  width: 29.1px;
  height: 29.1px;
}
.reveal-revenue-arkansas{
  left: 14.5px;
  top: 14.5px;
}

.revenue-oklahoma{
  width: 26.5px;
  height: 26.5px;
}
.reveal-revenue-oklahoma{
  right: 13px;
  top: 13px;
}

.revenue-notredame{
  width: 25.7px;
  height: 25.7px;
}
.reveal-revenue-notredame{
  right: 12.5px;
  top: 12.5px;
}

.revenue-texasam{
  width: 23px;
  height: 23px;
}
.reveal-revenue-texasam{
  right: 11.5px;
  top: 11.5px;
}

.revenue-michigan{
  width: 20.4px;
  height: 20.4px;
}
.reveal-revenue-michigan{
  right: 10px;
  top: 10px;
}

.revenue-nebraska{
  width: 16.8px;
  height: 16.8px;
}
.reveal-revenue-nebraska{
  right: 8px;
  top: 8px;
}

.revenue-texas{
  width: 16.4px;
  height: 16.4px;
}
.reveal-revenue-texas{
  right: 8px;
  top: 8px;
}

.revenue-alabama{
  width: 16.3px;
  height: 16.3px;
}
.reveal-revenue-alabama{
  right: 8px;
  top: 8px;
}

.revenue-tennessee{
  width: 13.6px;
  height: 13.6px;
}
.reveal-revenue-tennessee{
  right: 6.5px;
  top: 6.5px;
}

.revenue-oregon{
  width: 10.8px;
  height: 10.8px;
}
.reveal-revenue-oregon{
  right: 5px;
  top: 5px;
}

.revenue-michiganstate{
  width: 5px;
  height: 5px;
}
.reveal-revenue-michiganstate{
  right: 2.5px;
  top: 2.5px;
}

.revenue-olemiss{
  width: 1px;
  height: 1px;
}
.reveal-revenue-olemiss{
  right: .5px;
  top: .5px;
}
