body{
  margin-bottom: 300px;
}
ul {
  list-style-type: none;
}
h5{
  transform: rotate(-90deg);
  position: absolute;
  left: -15px;
  font-size: 10px;
}
.section p{
  font-size: 15px;
  line-height: 15px;
}

.section{
  position: relative;
}


.rectangle{
  background-color: rgba(210, 30, 30, .7);
  height: 10px;
  position: absolute;
  bottom: 5px;
  z-index: -1;
}

.section-modal{
  display: none;
  position: absolute;
  top: 20px;
  background-color: rgba(200, 200, 200, 1);
  color: #000000;
  z-index: 1;
  padding: 10px;
  margin-left: 130px;
  width: 800px;
}
.section:hover .section-modal{
  display: block;
}
.section-modal ul {
  list-style-type: lower-alpha;
  margin-left: 30px;
  font-family: myriad-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
}

.intro{
  width: 966px;
}
.article1-1{
  width: 16px;
}
.article1-2{
  width: 199px;
}
.article1-3-1{
  width: 67px;
}
.article1-3-2{
  width: 66px;
}
.article2-01{
  width: 53px;
}
.article2-1-1{
  width: 59px;
}
.article2-1-2{
  width: 46px;
}
.article2-2{
  width: 59px;
}
.article2-2-1{
  width: 38px;
}
.article2-2-2{
  width: 39px;
}
.article2-2-3{
  width: 32px;
}
.article2-2-4{
  width: 33px;
}
.article2-2-5{
  width: 33px;
}
.article2-2-6{
  width: 25px;
}
.article2-3-1{
  width: 29px;
}
.article2-3-2{
  width: 37px;
}
.article2-3-3{
  width: 32px;
}
.article2-4{
  width: 127px;
}
.article2-5{
  width:60px;
}
.article2-6{
  width:87px;
}
.article2.7{
  width: 50px;
}
.article2-8-1{
  width:102px;
}
.article2-8-2{
  width:45px;
}
.article2-8-3{
  width: 30px;
}
.article2-9{
  width: 54px;
}
.article2-10{
  width: 49px;
}
.article2-11{
  width: 68px;
}
.article2-12{
  width: 30px;
}
.article2-13{
  width: 86px;
}
.article2-14{
  width: 44px;
}
.article2-15{
  width: 61px;
}
.article2-16{
  width: 49px;
}
.article3-01-1{
  width: 44px;
}
.article3-01-2{
  width: 34px;
}
.article3-01-3{
  width: 43px;
}
.article3-01-4{
  width: 22px;
}
.article3-02-1{
  width: 26px;
}
.article3-02-2{
  width: 26px;
}
.article3-02-3-1{
  width: 94px;
}
.article3-02-3-1-1{
  width: 74px;
}
.article3-02-3-2{
  width:122px;
}
.article3-02-3-3{
  width:111px;
}
.article3-1-1{
  width:62px;
}
.article3-1-2{
  width:76px;
}
.article3-1-2-1{
  width:46px;
}
.article3-1-2-2{
  width: 23px;
}
.article3-1-2-3{
  width:46px;
}
.article3-1-2-4{
  width:35px;
}
.article3-1-2-5{
  width: 145px;
}
.article3-1-2-6{
  width:39px;
}
.article3-1-2-7{
  width:23px;
}
.article3-1-2-8{
  width: 28px;
}
.article3-1-2-9{
  width: 35px;
}
.article3-1-2-10{
  width:14px;
}
.article3-1-2-11{
  width:59px;
}
.article3-2-1-1{
  width: 49px;
}
.article3-2-1-2{
  width:19px;
}
.article3-2-1-3{
  width: 20px;
}
.article3-2-2-1{
  width:40px;
}
.article3-2-2-1-1{
  width: 103px;
}
.article3-2-2-2{
  width: 30px;
}
.article3-2-3-1{
  width: 86px;
}
.article3-2-3-2{
  width: 57px;
}
.article3-2-3-3{
  width: 59px;
}
.article3-2-3-4{
  width: 54px;
}
.article3-2-4-1{
  width: 24px;
}
.article3-2-4-2{
  width:41px;
}
.article3-2-4-3{
  width: 95px;
}
.article3-2-4-4{
  width: 57px;
}
.article3-2-4-5{
  width: 169px;
}
.article3-2-4-5-1{
  width: 52px;
}
.article3-2-4-6{
  width: 44px;
}
.article3-2-4-7{
  width: 265px;
}
.article3-2-4-8{
  width: 93px;
}
.article3-2-4-8-1{
  width: 49px;
}
.article3-2-4-8-2{
  width: 29px;
}
.article3-2-4-8-3{
  width: 126px;
}
.article3-2-4-9{
  width: 45px;
}
.article3-2-4-10{
  width: 40px;
}
.article3-2-4-11{
  width: 16px;
}
.article3-2-4-12{
  width: 14px;
}
.article3-2-4-13{
  width: 38px;
}
.article3-2-4-14{
  width: 48px;
}
.article3-2-4-15{
  width: 201px;
}
.article3-2-4-15-1{
  width: 113px;
}
.article3-2-4-16{
  width: 79px;
}
.article3-2-4-17{
  width: 67px;
}
.article3-2-4-18{
  width: 192px;
}
.article3-2-4-18-1{
  width: 163px;
}
.article3-2-4-18-1-1{
  width: 32px;
}
.article3-2-4-19{
  width: 70px;
}
.article3-2-4-20{
  width: 42px;
}
.article3-2-4-21-1{
  width: 57px;
}
.article3-2-4-21-2{
  width: 54px;
}
.article3-2-5-1{
  width:147px;
}
.article3-2-5-1-1{
  width:17px;
}
.article3-2-5-2{
  width: 25px;
}
.article3-2-5-3{
  width: 19px;
}
.article3-2-5-4{
  width: 64px;
}
.article3-2-5-5{
  width: 29px;
}
.article3-2-5-6{
  width: 64px;
}
.article3-2-6{
  width: 32px;
}
.article3-2-6-1{
  width: 85px;
}
